.headding{
    color: white;
}
h2{
    background-color: rgb(110, 70, 253);

}
.container{
    padding: 10px;
    /* border: 1px solid red; */

}
.dashboard-main{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 244, 244);
    width: 100%;
    /* border: 1px solid rgb(0, 217, 255); */
}
.name{
    border-radius:5px ;
    border: 1px solid rgb(110, 70, 253);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
} 

.textarea{
    border-radius: 5px;
    border: 1px solid rgb(110, 70, 253);
}

.publish-btn-div>div>button{
    width: 30%;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color:rgb(110, 70, 253) ;
    color: white;
}
.Publish-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid rgb(110, 70, 253);
}

.Publish-btn:active{
    background-color:black;
    color:white;
}
.my-blog-headding{
    margin-top: 20px;
    padding: 10px;
}

.blogs{
    background-color: rgb(245, 244, 244);
    padding: 10px;
    /* border: 1px solid gray; */
    /* display: flex; */

}
.blog-snder-detail{
    /* border: 1px solid red; */
    margin-left: 15px;
    /* height: 70px; */
 
    font-weight: bold;

}
.b1{
    display: flex ;
    /* border: 1px solid rgb(109, 41, 41); */
    padding: 5px;
}

.my-image{
    width: 75px;
    height:110px;
    border-radius: 5px;
    /* border: 1px solid red; */
}
.blog-btn>button{
    background-color: transparent;
    border: none;
    color: rgb(110, 70, 253);
}
